@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Roboto+Slab&display=swap');

html, body{
font-family: 'Roboto Slab', serif;
height: 100%;
width: 100%;
}
body{
    background-image:url(calci1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.button{
  font-size:20px;
  width:55px;
  padding:15px 19px;
  margin:0 1px;
  border: 2px solid black;
  border-radius: 10px;
  cursor:pointer;
}
.button:hover{
 background:grey;
}
h1{
    font-size: 28px;
    margin: 12px 0;
}
.row{
  margin:4px 0;
}
.row input{
  font-size:19px;
     margin: 0;
    padding: 6px 0px;
    border-radius: 7px;
      border: 2px solid black;
}
